@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    font-family: "lato", sans-serif;
}

#form {
    width: 100%;
    height: 100%;
    display: flex;
}

.left {
    width: 50%;
    display: flex;
}

.right {
    width: 50%;
    display: flex;
    background-color: #2c3445;
}

.right form {
    margin: auto auto auto 15%;
    width: 70%;
}

hr {
    color: white;
    width: 9%;
    height: 1px;
    margin-left: 1;
    background-color: white;

}

.inputs {
    width: 75%;
    padding:  10px;
    margin: 10px auto;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    color: #8D8D8D;
}

h3 {
    font-size: 24px;
    font-weight: 900;
    color: white;
    
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: white;
}
label {
    color: white;
    font-size: 18px;
    font-weight: 600;

}
#btn-login {

    background-color:white;
    border:none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    margin: 10px auto;
    padding: 10px 27px;
    color: #29a4ff;
}
a {
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin: auto auto auto 3%;
}
.left img {
    background-color: #a06df2;
    width: 100%;

}